<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgvK0Niy4U6m84kheDMf7BJ9SQQ4iDbCU</string>
	<key>GCM_SENDER_ID</key>
	<string>687350055418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeondong.fiveMin</string>
	<key>PROJECT_ID</key>
	<string>minyeondong</string>
	<key>STORAGE_BUCKET</key>
	<string>minyeondong.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687350055418:ios:6a46ae53ef4cb12c2e2443</string>
</dict>
</plist>